version: '3'
services:
  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: root
      POSTGRES_PASSWORD: pwd
    volumes:
      - postgres-data:/var/lib/postgresql/data

  nextjs-app:
    build: .
    ports:
      - "3000:3000"
    command: npm run dev
    volumes:
      - .:/app
    restart: always
    depends_on:
      - db
    environment:
      NODE_ENV: development
      DATABASE_URL: postgres://root:pwd@db:5432/app

volumes:
    postgres-data: